#profile {
  height: 17em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c2f3ff;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  flex-direction: column;
  position: relative;
  top: 4em;
}

header .avatar {
  position: relative;
}

header .avatar-image {
  position: relative;
}

header h2 {
  font-weight: 300;
} 

.heavy-text {
  font-weight: 700;
}