.nav-bar {
  position: fixed;
  height: 4em;
  width: 100%;
  justify-content: space-between;
  background-color: #4056A1;
  color: #ffffff;
  z-index: 100;
  padding: 0.5em 1.5em;
  display: flex;
  align-items: center;
}

.nav-bar .title {
  font-family: 'Bungee', cursive;
}

.nav-bar .arrow {
  text-align: center;
  color: #bde691;
  margin-top: 0.12em;
}

.nav-bar .arrow i {
  animation: upDown 2s infinite;
  position: relative;
  animation-timing-function: linear;
}

@keyframes upDown {
  from { top: 0.1em; }
  to { bottom: 0.2em; }
}