nav {
  position: fixed;
  height: 5em; /* 120px */
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #4056A1;
  color: #ffffff;
  z-index: 100;
  padding: 1.5em;
  display: flex;
  align-items: center;
}

nav .arrow {
  text-align: center;
  color: #bde691;
  margin-top: 2px;
}

nav .arrow i {
  animation: upDown 2s infinite;
  position: relative;
  animation-timing-function: linear;
}

@keyframes upDown {
  from { top: 1px; }
  to { bottom:5px; }
}