
@media (max-width: 1024px) {
  .nav-bar {
    position: static;
    background: none;
    color: #315371;
    background-color: #c2f3ff;
    background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  }
  
  .nav-bar .arrow {
    color: #e85272;
  }

  #profile {
    top: 0;
  }

  .main-container {
    top: 0;
  }

  #tweets-container {
    margin-top: 1em;
  }
}

@media (min-width: 1025px) {
  .profile-tweet-container {
    display: flex;
    flex-direction: row;
  }

  #profile {
    width: 30%;
    margin: 3%;
    position: fixed;
    border: 3px solid #4056a1;
  }

  .main-container {
    width: 58%;
    margin: 3%;
    left: 36%;
  }

  .new-tweet .error-message {
    margin: 0 0 0.83em;
  }

  #component-container h2 {
    margin-top: 0;
  }
}
